@{
    ViewData["Title"] = "AtelierUsers";
}

<link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />

<div class="container">
	<div class="card mb-5">
		<div class="card-header" id="UsersHeader">
			<h4 class="mb-0"> 
				Přídat studenta do ateliéru	
			</h4>
		</div>
		<div id="collapseOne" class="collapse show" aria-labelledby="UsersHeader" data-parent="#accordion">
			<div class="card-body">
				<ul class="list-group" style="list-style:none;">
					<li class="list-group-item" style="background-color:aliceblue">
						<ul class="equip_unit_v1">
							<li><strong>id</strong></li>
							<li><strong>Příjmení</strong></li>
							<li><strong>Jméno</strong></li>
							<li><strong>Email</strong></li>
							<li></li>
						</ul>
					</li>
					@foreach (var user in (IEnumerable<ArtSchool.Models.Person>)ViewData["AtelierUsers"])
					{
						@if(user.User_role == "user"){
							<li class="list-group-item">
								<ul class="equip_unit_v1">
									<li><strong>@user.Id_user</strong></li>
									<li>@user.Surname</li>
									<li>@user.Firstname</li>
									<li>@user.Email</li>
									<li>
										<form asp-controller="AtelierUsers" asp-action="Create" method="post" class="d-inline">
											<input type="hidden" name="atelier_id" value="@ViewData["AtelierId"]" />
											<input type="hidden" name="Id_User" value="@user.Id_user" />
											<input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
											<button type="submit" class="edit btn p-2 m-1">
												<img src="~/images/plus_icon.png" alt="Plus" width="16" />
											</button>
										</form>
									</li>
								</ul>
							</li>
						}
						
					}
				</ul>
			</div>
		</div>
		<div class="card-footer">
			<a href="@ViewData["ReturnUrl"]" class="btn rounded border-0 blue_bg text-light p-2 m-1">Zpět na hlavní stranu</a>
	</div>
</div>